@import url(css/header.css);
@import url(css/head-line.css);
@import url(css/servicos.css);
@import url(css/slide.css);
@import url(css/formacao.css);
@import url(css/footer.css);
@import url("https://fonts.googleapis.com/css2?family=K2D:wght@500;600&family=Righteous&display=swap");
:root {
  --gradiente-1: #e51c3e;
  --gradiente-2: #fd3434;
  --white: #f7f7f7;
}
body::-webkit-scrollbar {
  width: 8px;
}

body::-webkit-scrollbar-track {
  background: #2e2e2e;
}

body::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, #e51c3e 0%, #fd3440 100%);
  box-shadow: 0px 2px 4px #e51c3d77;
  box-shadow: 0px -2px 4px #e51c3d77;
  border-radius: 2px;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #2e2e2e;
}

html {
  scroll-behavior: smooth;
}
